<a href="https://colab.research.google.com/github/aswani9990/Data-Science-Folder/blob/main/List_comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
fruits = ['apple', 'banana', 'kiwi', 'cherry']
new_list = []
for i in fruits:
  if 'a' in i:
    new_list.append(i)
    print(new_list)

['apple']
['apple', 'banana']

In [6]:
fruits = ['apple', 'banana', 'kiwi', 'cherry']
newlist = [x for x in fruits if 'a' in x]
print(newlist)

['apple', 'banana']

In [9]:
fruits = ['apple', 'banana', 'kiwi', 'cherry']
new_list = [x for x in fruits if x !='banana']
print(new_list)

['apple', 'kiwi', 'cherry']

In [10]:
veg = ['pea', 'tomato','fig','potato']
veg_list = [x for x in veg]
print(veg)

['pea', 'tomato', 'fig', 'potato']

In [12]:
new_list = [x for x in range(11)]
print(new_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
new_list = [x for x in range(1,10,2)]
print(new_list)

[1, 3, 5, 7, 9]

In [15]:
new_list = [x for x in range(0,5)]
print(new_list)

[0, 1, 2, 3, 4]

In [18]:
new = [x for x in range(5) if x > 4]
print(new)

[]

In [19]:
new = [x for x in range(5) if x < 4]
print(new)

[0, 1, 2, 3]

**Syntax for List comprehension**

New_list = [Expression for item in iterable if condition == True]

In [22]:
#you can manipulate new list with otehr method but you can used with expression with dot. operator
fast_food = ['pizza','snaks','biscuit','burger','momose']
new_fast_list = [x.upper() for x in fast_food ]
print(new_fast_list)

['PIZZA', 'SNAKS', 'BISCUIT', 'BURGER', 'MOMOSE']

In [23]:
#you can manipulate new list with otehr method but you can used with expression with dot. operator
fast_food = ['pizza','snaks','biscuit','burger','momose']
new_fast_list = [x.capitalize() for x in fast_food ]
print(new_fast_list)

['Pizza', 'Snaks', 'Biscuit', 'Burger', 'Momose']

In [24]:
#you can manipulate new list with otehr method but you can used with expression with dot. operator
fast_food = ['Pizza','Snaks','Biscuit','Burger','Momose']
new_fast_list = [x.lower() for x in fast_food ]
print(new_fast_list)

['pizza', 'snaks', 'biscuit', 'burger', 'momose']

In [26]:
#you can manipulate new list with otehr method but you can used with expression with dot. operator
new_fast_list = [ 'hello' for x in fast_food ]
print(new_fast_list)               #it repalce fastfood item with hello a/c to item present in fastfood

['hello', 'hello', 'hello', 'hello', 'hello']

In [33]:
#return 'pepsi' instead of burger
fast_food = ['pizza','snaks','biscuit','burger','momose']
new_fast_list = [x if x != "burger" else "orange" for x in fast_food]
print(new_fast_list)

['pizza', 'snaks', 'biscuit', 'orange', 'momose']