<a href="https://colab.research.google.com/github/aswani9990/Data-Science-Folder/blob/main/List_comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fruits = ['apple', 'banana', 'kiwi', 'cherry']
new_list = []
for i in fruits:
  if 'a' in i:
    new_list.append(i)
    print(new_list)

['apple']
['apple', 'banana']

In [ ]:
fruits = ['apple', 'banana', 'kiwi', 'cherry']
newlist = [x for x in fruits if 'a' in x]
print(newlist)

['apple', 'banana']

In [ ]:
fruits = ['apple', 'banana', 'kiwi', 'cherry']
new_list = [x for x in fruits if x !='banana']
print(new_list)

['apple', 'kiwi', 'cherry']

In [ ]:
veg = ['pea', 'tomato','fig','potato']
veg_list = [x for x in veg]
print(veg)

['pea', 'tomato', 'fig', 'potato']

In [ ]:
new_list = [x for x in range(11)]
print(new_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
new_list = [x for x in range(1,10,2)]
print(new_list)

[1, 3, 5, 7, 9]

In [ ]:
new_list = [x for x in range(0,5)]
print(new_list)

[0, 1, 2, 3, 4]

In [ ]:
new = [x for x in range(5) if x > 4]
print(new)

[]

In [ ]:
new = [x for x in range(5) if x < 4]
print(new)

[0, 1, 2, 3]

**Syntax for List comprehension**

New_list = [Expression for item in iterable if condition == True]

In [ ]:
#you can manipulate new list with otehr method but you can used with expression with dot. operator
fast_food = ['pizza','snaks','biscuit','burger','momose']
new_fast_list = [x.upper() for x in fast_food ]
print(new_fast_list)

['PIZZA', 'SNAKS', 'BISCUIT', 'BURGER', 'MOMOSE']

In [ ]:
#you can manipulate new list with otehr method but you can used with expression with dot. operator
fast_food = ['pizza','snaks','biscuit','burger','momose']
new_fast_list = [x.capitalize() for x in fast_food ]
print(new_fast_list)

['Pizza', 'Snaks', 'Biscuit', 'Burger', 'Momose']

In [ ]:
#you can manipulate new list with otehr method but you can used with expression with dot. operator
fast_food = ['Pizza','Snaks','Biscuit','Burger','Momose']
new_fast_list = [x.lower() for x in fast_food ]
print(new_fast_list)

['pizza', 'snaks', 'biscuit', 'burger', 'momose']

In [ ]:
#you can manipulate new list with otehr method but you can used with expression with dot. operator
new_fast_list = [ 'hello' for x in fast_food ]
print(new_fast_list)               #it repalce fastfood item with hello a/c to item present in fastfood

['hello', 'hello', 'hello', 'hello', 'hello']

In [ ]:
#return 'pepsi' instead of burger
fast_food = ['pizza','snaks','biscuit','burger','momose']
new_fast_list = [x if x != "burger" else "orange" for x in fast_food]
print(new_fast_list)

['pizza', 'snaks', 'biscuit', 'orange', 'momose']

In [2]:
#ieration through list
list=[char for char in [1,2,3]]
print(list)

[1, 2, 3]

In [3]:
#even list using list comprehension
even =[i for i in range(11) if i%2 == 0]
print(even)

[0, 2, 4, 6, 8, 10]

In [4]:
#odd list using list comprehension
odd =[i for i in range(11) if i%2 != 0]
print(odd)

[1, 3, 5, 7, 9]

In [16]:
#matrix using list comprehension
matrix=[[j for j in range(4)] for i in range(4)]
print(matrix)

[[0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3]]

In [20]:
#iteration 
list=[]
for char in "learn4chatgpt!":
  list.append(char)
  print(char)

l
e
a
r
n
4
c
h
a
t
g
p
t
!

In [21]:
#using list comprehension for iteration
list=[char for char in 'learn chatgpt for future']
print(list)

['l', 'e', 'a', 'r', 'n', ' ', 'c', 'h', 'a', 't', 'g', 'p', 't', ' ', 'f', 'o', 'r', ' ', 'f', 'u', 't', 'u', 'r', 'e']

In [22]:
#time analysis through list comprehension
# Import required module
import time


# define function to implement for loop
def for_loop(n):
	result = []
	for i in range(n):
		result.append(i**2)
	return result


# define function to implement list comprehension
def list_comprehension(n):
	return [i**2 for i in range(n)]


# Driver Code

# Calculate time takens by for_loop()
begin = time.time()
for_loop(10**6)
end = time.time()

# Display time taken by for_loop()
print('Time taken for_loop:', round(end-begin, 2))

# Calculate time takens by list_comprehension()
begin = time.time()
list_comprehension(10**6)
end = time.time()

# Display time taken by for_loop()
print('Time taken for list_comprehension:', round(end-begin, 2))

Time taken for_loop: 0.38
Time taken for list_comprehension: 0.33

In [23]:
#nested list compre
matrix = []

for i in range(3):

	# Append an empty sublist inside the list
	matrix.append([])

	for j in range(5):
		matrix[i].append(j)

print(matrix)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [24]:
# Nested list comprehension
matrix = [[j for j in range(5)] for i in range(3)]

print(matrix)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [25]:
#list comprehension with lamda function
# using lambda to print table of 10
numbers = []

for i in range(1, 8):
	numbers.append(i*10)

print(numbers)

[10, 20, 30, 40, 50, 60, 70]

In [27]:
#list comprehension for table 0f 10
numbers = [i*10 for i in range(1, 9)]

print(numbers)

[10, 20, 30, 40, 50, 60, 70, 80]

In [34]:
#if and else 
lis = ["Even number" if i % 2 == 0
	else "Odd number" for i in range(8)]
print(lis)

['Even number', 'Odd number', 'Even number', 'Odd number', 'Even number', 'Odd number', 'Even number', 'Odd number']

In [35]:
#nested if list comprehension
lis = [num for num in range(100)
	if num % 5 == 0 if num % 10 == 0]
print(lis)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [36]:
# Getting square of from 1 to 10
squares = [n**2 for n in range(1, 11)]

# Display square of even numbers
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [37]:
#display transpose of 2d
# Assign matrix
twoDMatrix = [[10, 20, 30],
			[40, 50, 60],
			[70, 80, 90]]

# Generate transpose
trans = [[i[j] for i in twoDMatrix] for j in range(len(twoDMatrix[0]))]

print(trans)

[[10, 40, 70], [20, 50, 80], [30, 60, 90]]

In [41]:
#reverse the tupple
# Reverse each string in tuple
List = [string[::-1] for string in ('Geeks', 'for', 'Geeks')]

# Display list
print(List)

['skeeG', 'rof', 'skeeG']

In [42]:
#display the sum of digit of all odd element
# Explicit function
def digitSum(n):
	dsum = 0
	for ele in str(n):
		dsum += int(ele)
	return dsum


# Initializing list
List = [367, 111, 562, 945, 6726, 873]

# Using the function on odd elements of the list
newList = [digitSum(i) for i in List if i & 1]

# Displaying new list
print(newList)

[16, 3, 18, 18]